<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="'/recipes'">Recipe Book</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isAuthenticated">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/recipes"
            routerLinkActive="active"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'/shopping-list'"
            routerLinkActive="active"
            >Shopping List</a
          >
        </li>
      </ul>
      <!-- <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Save Data</a></li>
            <li><a class="dropdown-item">Fetch Data</a></li>
          </ul>
        </li>
      </ul> -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="isAuthenticated">
        <li class="nav-item">
          <a class="nav-link" (click)="onSaveData()">Save Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onFetchData()">Fetch Data</a>
        </li>
      </ul>
      <button class="btn btn-secondary" (click)="onAuthenticate()">
        {{ isAuthenticated ? "Logout" : "Login" }}
      </button>
    </div>
  </div>
</nav>
